<html th:replace="~{layout/base :: layout}" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="css">
    <link rel="stylesheet" th:href="@{/css/solicitudEliminacion.css}" />
</div>


<div th:fragment="contenido">
    <form class="formulario-hecho"
          th:action="@{/solicitud/{id}/crear(id=${hechoId})}"
          method="post">

        <h4>Solicitar eliminación</h4>
        <div class="alert alert-success" th:if="${mensaje}" th:text="${mensaje}"></div>
        <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>


        <h5 class="hecho-title" th:text="${hecho.titulo}"></h5>
        <div class="hecho-category" th:text="${hecho.categoria}"></div>
        <p class="hecho-description" th:text="${hecho.descripcion}"></p>

        <div class="hecho-meta">
            <div><strong>Fecha del hecho:</strong> 12/08/2025</div>
            <div><strong>Reportado:</strong> 13/08/2025</div>
            <div><strong>Ubicación:</strong> Santa Cruz, Argentina</div>
            <div><strong>Coordenadas:</strong> -50.2938, -73.0138</div>
        </div>

        <div class="hecho-source">
            <span>Fuente:</span>
            <span class="source-badge">Dataset oficial SNMF</span>
            <div class="consensus-indicator">
                <div class="consensus-dot consensus-verified"></div>
                <span>Verificado</span>
            </div>
        </div>

        <label for="justificacion">Motivo de la solicitud <span style="color:red">*</span></label>
        <textarea id="justificacion"
                  name="justificacion"
                  style="resize: vertical; min-height:120px; max-height:500px; overflow:auto; padding:5px"
                  minlength="500"
                  required
                  th:text="${justificacion}"> </textarea>

        <button class="btn-submit" type="submit">Enviar solicitud</button>
    </form>
</div>
</html>
