<html th:replace="~{layout/base :: layout}" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="css">
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</div>

<div class="form-container" th:fragment="contenido">
    <div class="logo-placeholder">🌍</div>
    <h2>Bienvenido/a</h2>

    <form th:action="@{/login}" method="post" autocomplete="off">
        <div class="form-group">
            <label for="email">Usuario <span style="color:red">*</span></label>
            <input type="text" id="email" name="username" placeholder="hola@ejemplo.com" autocomplete="username" required/>

            <div class="password-container">
                <label for="contrasenia">Contraseña <span style="color:red">*</span></label>
                <input type="password" id="contrasenia" name="password" placeholder="••••••••" autocomplete="current-password" required/>
                <i class="fa-solid fa-eye" id="togglePassword"></i>
            </div>

            <a href="#"> ¿Olvidaste tu contraseña?</a>
        </div>

        <!-- agrego -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <button type="submit" class="btn-submit">Iniciar Sesión</button>

        <p class="cambiar-text">
            ¿No tenés una cuenta? <a th:href="@{/signup}" id="cambiar-para-registrarse">Registrate</a>
        </p>
    </form>
    <!-- mensajes -->
    <div th:if="${param.error}" class="alert alert-danger mt-3">
        Usuario o contraseña incorrectos
    </div>
    <div th:if="${param.logout}" class="alert alert-success mt-3">
        Sesión cerrada correctamente
    </div>

</div>

<div th:fragment="js">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const togglePassword = document.querySelector('#togglePassword');
            const passwordInput = document.querySelector('#contraseña');

            if (togglePassword && passwordInput) {
                togglePassword.addEventListener('click', function () {
                    // Alterna entre 'password' y 'text'
                    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                    passwordInput.setAttribute('type', type);

                    // Alterna el ícono del ojo
                    this.classList.toggle('fa-eye-slash');
                });
            }
        });
    </script>
</div>

</html>